src/main/java/com/skywell/ws/WSUser.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0"
xmlns:nsuser="http://cb.ukrpay.net/common/ws/user" targetNamespace="http://cb.ukrpay.net/common/ws/user"
xmlns:nsall="http://cb.ukrpay.net/common/ws">

  <xsd:import namespace="http://cb.ukrpay.net/common/ws" schemaLocation="WSAll.xsd"/>

  <xsd:complexType name="userOtp">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="typeId" type="xsd:int"/>
      <xsd:element name="typeAlias" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cfgValue" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="userOtpSms">
    <xsd:complexContent>
      <xsd:extension base="nsuser:userOtp">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="otpReq">
    <xsd:sequence>
      <xsd:element name="userOtp" type="nsuser:userOtp" minOccurs="0"/>
      <xsd:element name="reqId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reqType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reqInfo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="otpExpire" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="errCounter" type="xsd:int"/>
      <xsd:element name="errCounterMax" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sessionState">
    <xsd:sequence>
      <xsd:element name="blocked" type="xsd:boolean" default="false"/>
      <xsd:element name="blockedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="passwordChangeRequired" type="xsd:boolean" default="false"/>
      <xsd:element name="otpReq" type="nsuser:otpReq" minOccurs="0"/>
      <xsd:element name="errCounter" type="xsd:int"/>
      <xsd:element name="errCounterMax" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="userPassCfg">
    <xsd:sequence>
      <xsd:element name="lengthMin" type="xsd:int"/>
      <xsd:element name="lengthMax" type="xsd:int"/>
      <xsd:element name="checkHistory" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="qualityMin" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="session">
    <xsd:sequence>
      <xsd:element name="sid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lang" type="xsd:string" minOccurs="0"/>
      <xsd:element name="expireDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="state" type="nsuser:sessionState" minOccurs="0"/>
      <xsd:element name="user" type="nsuser:user" minOccurs="0"/>
      <xsd:element name="pinCfg" type="nsuser:pinCfg" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="user">
    <xsd:sequence>
      <xsd:element name="login" type="xsd:string" minOccurs="0"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pinCfg">
    <xsd:sequence>
      <xsd:element name="present" type="xsd:boolean"/>
      <xsd:element name="enabled" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="sessionRp">
    <xsd:complexContent>
      <xsd:extension base="nsall:resultRp">
        <xsd:sequence>
          <xsd:element name="result" type="nsuser:session" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="userPassCfgRp">
    <xsd:complexContent>
      <xsd:extension base="nsall:resultRp">
        <xsd:sequence>
          <xsd:element name="result" type="nsuser:userPassCfg" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="authenticate">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="login" type="xsd:string"/>
      <xsd:element name="hashPassword" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="authenticateResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:sessionRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkSession">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkSessionResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:sessionRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="logout">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="logoutResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsall:resultRp"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="checkAuthOtp">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="otpReqId" type="xsd:string"/>
      <xsd:element name="otpPass" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkAuthOtpResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:sessionRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkAccessCode">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="login" type="xsd:string"/>
      <xsd:element name="code" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkAccessCodeResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:sessionRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="changePass">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="login" type="xsd:string"/>
      <xsd:element name="hashCurrentPassword" type="xsd:string"/>
      <xsd:element name="hashNewPassword" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="changePassResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:sessionRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="restorePass">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="login" type="xsd:string"/>
      <xsd:element name="hashNewPassword" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="restorePassResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:sessionRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPassCfg">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPassCfgResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:userPassCfgRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkUserVar">
    <xsd:sequence>
      <xsd:element name="alias" type="xsd:string" minOccurs="0"/>
      <xsd:element name="value" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createUserPrepare">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="listCheckUserVar" type="nsuser:checkUserVar" minOccurs="0"  maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="login" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hashPassword" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createUserRp">
    <xsd:complexContent>
      <xsd:extension base="nsall:resultRp">
        <xsd:sequence>
          <xsd:element name="user" type="nsuser:user" minOccurs="0"/>
          <xsd:element name="otpReq" type="nsuser:otpReq" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="createUserPrepareResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:createUserRp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createUserOtp">
    <xsd:sequence>
      <xsd:element name="reqBase" type="nsall:reqBase"/>
      <xsd:element name="otpReqId" type="xsd:string"/>
      <xsd:element name="otpPass" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createUserOtpResponse">
    <xsd:sequence>
      <xsd:element name="return" type="nsuser:createUserRp"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="authenticate" type="nsuser:authenticate"/>
  <xsd:element name="authenticateResponse" type="nsuser:authenticateResponse"/>
  <xsd:element name="checkSession" type="nsuser:checkSession"/>
  <xsd:element name="checkSessionResponse" type="nsuser:checkSessionResponse"/>
  <xsd:element name="logout" type="nsuser:logout"/>
  <xsd:element name="logoutResponse" type="nsuser:logoutResponse"/>
  <xsd:element name="checkAuthOtp" type="nsuser:checkAuthOtp"/>
  <xsd:element name="checkAuthOtpResponse" type="nsuser:checkAuthOtpResponse"/>
  <xsd:element name="checkAccessCode" type="nsuser:checkAccessCode"/>
  <xsd:element name="checkAccessCodeResponse" type="nsuser:checkAccessCodeResponse"/>
  <xsd:element name="changePass" type="nsuser:changePass"/>
  <xsd:element name="changePassResponse" type="nsuser:changePassResponse"/>
  <xsd:element name="restorePass" type="nsuser:restorePass"/>
  <xsd:element name="restorePassResponse" type="nsuser:restorePassResponse"/>
  <xsd:element name="getPassCfg" type="nsuser:getPassCfg"/>
  <xsd:element name="getPassCfgResponse" type="nsuser:getPassCfgResponse"/>
  <xsd:element name="createUserPrepare" type="nsuser:createUserPrepare"/>
  <xsd:element name="createUserPrepareResponse" type="nsuser:createUserPrepareResponse"/>
  <xsd:element name="createUserOtp" type="nsuser:createUserOtp"/>
  <xsd:element name="createUserOtpResponse" type="nsuser:createUserOtpResponse"/>

</xsd:schema>